/* .elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  margin-bottom: 67px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-items: center;
}

.element {
  position: relative;
}

.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
}

.element__like-button {
  border: none;
  background: url(./images/icon/like.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  cursor: pointer;
}

.element__trash-button {
  border: none;
  background: url(./images/icon/trash-button.svg);
  width: 19px;
  height: 18px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__description {
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  width: 282px;
  display: flex;
}

.element__signature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  margin: 0 auto;
}

.element__title {
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: auto 0;
  padding: 25px 0 31px 0;
}

.element__like_active {
  background-image: url(./images/icon/like-active.svg);
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  padding-left: 16px;
}




.element__like-button:hover {
  opacity: 0.5;
}

.element__trash-button:hover {
  opacity: 0.5;
} */
