.popup__close-button {
  background: url(../../../images/icon/close.svg);
  border: none;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -44px;
  top: -46px;
  padding: 0;
  display: block;
  cursor: pointer;
}


@media screen and (max-width: 675px) {
  .popup__close-button {
    position: absolute;
    right: 0px;
    top: -40px;
    padding: 0;
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
}
