@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.woff2?v=3.19") format("woff2"),
    url("Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
    url("Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.woff2?v=3.19") format("woff2"),
    url("Inter-Light.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
    url("Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.woff2?v=3.19") format("woff2"),
    url("Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-Medium.woff2?v=3.19") format("woff2"),
    url("Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
    url("Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
    url("Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("Inter-ExtraBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
    url("Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
    url("Inter-Black.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-BlackItalic.woff2?v=3.19") format("woff2"),
    url("Inter-BlackItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("Inter-italic.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter.var.woff2?v=3.19") format("woff2");
}


.body {
  background-color: #000000;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -o-font-smoothing: auto;
  -ms-font-smoothing: auto;
  color: #FFFFFF;
}

.page {
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
}

/* Header start */
.header {
  display: flex;
  max-width: 880px;
  margin: 45px 0 41px 0;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  background-image: url(../images/logo/logo.svg);
  width: 142px;
  height: 33px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header end */

/* Profile start */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 51px;
}

.profile__items {
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
}

.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  align-items: center;
}

.profile__title {
  grid-area: title;
  font-weight: 500;
  font-size: 42px;
  /* font-size: calc(27px +  15 * (100vw / 1280)); */
  line-height: 114%;
  margin: 0 18px 16px 0;
}

.profile__sublitle {
  grid-area: subtitle;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__edit-button {
  grid-area: button;
  border: none;
  padding: 0;
  background: url(../images/icon/edit-button.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  display: flex;
  border: none;
  padding: 0;
  background: url(../images/icon/add-button.svg);
  background-repeat: no-repeat;
  width: 150px;
  max-width: 90%;
  height: 50px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* Profile end */

/* Element start */
.elements {
  margin-bottom: 67px;
}

.element {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  margin-bottom: 67px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-items: center;
}

.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.element__rectangle {
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  height: 70px;
  width: 282px;
  display: flex;
}

.element__signature {
  display: flex;
  justify-content: space-between;
  width: 246px;
  margin: 0 auto;
}

.element__subtitle {
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: auto 0;
}

.element__icon {
  display: flex;
  align-items: center;
  width: 22px;
}

.element__icon:hover {
  opacity: 0.5;
}

.element__icon:active {
  color: #000000;
}

/* Element end */

/* Footer start */
.footer__author {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

/* Footer end */

/* Popup start */
.popup {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup__container {
  position: relative;
  width: 430px;
  max-width: 90%;
  height: 330px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px auto 54px auto;
}

.popup__input {
  display: block;
  margin: 0 auto 43px auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
  width: 358px;
  max-width: 90%;
}

.popup__form:focus .popup__input {
  outline: none;
}

.popup__input:last-of-type {
  margin: 0 auto;
}

.popup__button {
  width: 358px;
  max-width: 90%;
  height: 50px;
  margin: 48px auto 37px auto;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__close {
  /* position: absolute;
  right: -44px;
  top: -46px; */
  position: relative;
  left: 100%;
  top: -125%;
  padding: 0;
  background: url(../images/icon/close.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  display: block;
}

/* Pop-up end */


@media screen and (max-width: 635px) {
  .profile {
    flex-direction: column;
  }

  .profile__items {
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    max-width: 282px;
    margin: 0 auto;
  }

  .profile__title {
    /* font-size: calc(27px +  (15 + 15 * 0.7) * ((100vw - 320px) / 1280)); */
    font-size: calc(27px + 15 * (100vw / 1280));
    white-space: nowrap;
  }

  .profile__subtitle {
    /* font-size: calc(18px + 14 * (100vw / 1280)); */
    text-align: center;
  }

  .profile__avatar {
    display: block;
    flex-wrap: wrap;
    margin: 0;
  }

  .profile__add-button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 490px) {
  .profile__title {
    font-size: calc(27px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
  }

  .profile__subtitle {
    font-size: calc(18px + (14 + 14 * 0.7) * ((100vw - 320) / 1280));
  }

  .profile__add-button {
    /* flex-basis: 100%; */
  }

  .profile__items {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
  }

  .profile__items {
    flex-direction: column;
  }

  .profile__title {
    margin: 22px 10px 14px 0;
    text-align: center;
  }

  .profile__sublitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 0 36px 0
  }

  .profile__avatar {
    display: block;
    flex-wrap: wrap;
    margin: 0;
  }

  .profile__add-button {
    margin: 0 auto;
  }

  .footer__author {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .elements {
    margin-bottom: 48px;
  }

  .popup__container {
    position: relative;
    width: 282px;
    max-width: 90%;
    height: 322px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    margin: auto;
  }

  .popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 25px auto 75px auto;
  }

  .popup__input {
    display: block;
    margin: 0 auto 30px auto;
    width: 238px;
    max-width: 90%;
  }

  .popup__button {
    width: 238px;
    max-width: 90%;
    height: 46px;
    margin: 45px auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }

  .popup__close {
    position: relative;
    left: 90%;
    top: -115%;
    padding: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
