.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 51px;
}

@media screen and (max-width: 675px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
  }

}
