.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  margin-bottom: 67px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-items: center;
}