.element__like-but {
  border: none;
  background: url(../../../images/icon/like.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  cursor: pointer;
  padding-left: 16px;
  transition: 500ms linear;
}

.element__like-but:hover {
  opacity: 0.5;
}
