.element__title {
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: auto 0;
  padding: 25px 0 31px 0;
}